<!DOCTYPE html>
<html>
<head>
    <title>Detail Page</title>
</head>
<body>


<h1>{{ question.question_text }}</h1>




{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% comment %}
    {% url 'polls:vote' question.id %}
     polls = app_name = 'polls'  ..  declared inside the urls.py
     vote = name='vote'  ..  urls.py
     question.id will be passed as an argument to be used in ?P<question_id>
{% endcomment %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
    <label for="choice{{ forloop.counter }}"> -- {{ choice.votes }}</label>
    <br />
{% endfor %}
<input type="submit" value="Vote" />
</form>



</body>
</html>